<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create book</title>
</head>
<body>
    <form method="post" action="{% url 'create_book' %}">
    {% csrf_token %}
    <label>Title: </label>
    <input name="title"/><br />
    <label>Year: </label>
    <input name="year"/><br />
    <label>Description: </label>
    <input name="description"/><br />
    <label>Category id: </label>
    <input name="category_id"/><br />
    <label>Image: </label>
    <input type="file" name="picture"/><br />
    <input type="submit" value="OK"/>
    </form>
</body>
</html>